NODE_ENV=development
PORT=3000
USER=
PASSWORD=
DATABASE=
DATABASE_LOCAL=mongodb://localhost:27017/natours
DATABASE_PASSWORD=test123
JWT_SECRET=
JWT_EXPIRES_IN=90d
EMAIL_USERNAME=
EMAIL_PASSWORD=
JWT_COOKIE_EXPIRES_IN=
EMAIL_FROM=
SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=
STRIPE_SECRET_KEY=
